.main {
   margin: 0 10px 0 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: 1214px;
}

.page-title_section {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 60px;
}

.page-title_section > h1, p {
   color: #181A2A;
   margin: 0;
}

.page-title_section > h1 {
   margin: 40px 0 8px 0;
   font-size: 1.875rem;
}

.page-title_links {
   display: flex;
   flex-direction: row;
   gap: 24px;
   font-size: 1rem;
}

.post-card_section {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: start;
   margin-bottom: 20px;
}

.post-card-section_cover {
   max-width: 1214px;
   width: 100%;
   position: relative;
   height: 450px;
   object-fit: cover;
   object-position: top;
}

.post-card_info {
   max-width: 800px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: start;
   position: relative;
   bottom: 230px;
}

.post-card-info_topic {
   width: 101px;
   height: 32px;
   border-radius: 6px;
   background-color: #4B6BFB;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 16px;
   margin-left: 40px;
}

.post-card-info_topic > p {
   font-weight: 500px;
   font-size: 0.875rem;
   color: white;
}

.post-card-info_header {
   max-width: 770px;
   margin: 0;
   font-weight: 600;
   font-size: 2.25rem;
   color: white;
   margin-bottom: 24px;
   margin-left: 40px;
   margin-right: 40px;
}

.post-card-info_user {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: start;
   margin-left: 40px;
}

.post-card-info-user_image {
   margin-right: 12px;
}

.post-card-info-user_data {
   display: flex;
   flex-direction: row;
   gap: 24px;
}

.post-card-info-user_data > p {
   font-size: 0.875rem;
   color: white;
}

.posts_section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.posts {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
   margin-bottom: 32px;
}

.load-more_button {
   border: 1px solid #696A754D;
   border-radius: 6px;
   width: 123px;
   height: 48px;
   background-color: white;
   font-size: 1rem;
   font-weight: 500;
   color: #696A75;
   margin-bottom: 80px;
}

@media (max-width: 1238px) {
   .posts {
      grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 826px) {
   .posts {
      grid-template-columns: 1fr;
   }
}

@media (max-width: 792px) {
   .post-card_info {
      bottom: 270px;
   }
}

@media (max-width: 538px) {
   .post-card_info {
      bottom: 310px;
   }
}

@media (max-width: 491px) {
   .post-card_info {
      bottom: 350px;
   }
}

@media (max-width: 368px) {
   .post-card_info {
      bottom: 390px;
   }
}

@media (max-width: 348px) {
   .post-card_info {
      bottom: 430px;
   }
}

@media (max-width: 320px) {
   .post-card_info {
      bottom: 390px;
   }

   .post-card-info_header {
      font-size: 2rem;
   }

   .post-card-info_topic, .post-card-info_header, .post-card-info_user {
      margin-left: 20px;
   }
}